body{
    background-color: rgb(34, 37, 38);
    display: flex;
    justify-content: center;
}
.conteiner{
    text-align: center;
    margin-top: 20px;
    background-color: rgba(66, 67, 70, 0.072);
    height: 35rem;
    width: 60%;
    border-radius: 8px;padding: 3rem;
    
    
    
}
input{
    margin: 25px 0 ;
    background-color: rgb(35, 32, 32);
    color: white;
    width: 15rem;
    height: 5rem; 
    border-radius: 8px;
    font-weight: 900;
    font-style: italic;
    font-size: xx-large;

    

}
.btn{
    margin: 3px;
    width: 3.5rem;
    height: 3.5rem;
    padding: 5px;
    background-color: rgba(152, 218, 246, 0.99);
    border-radius: 1000%;
    font-weight: 900;
    font-size: x-large;
    box-shadow: 4px -2px teal;
    

}
.displayDelete{
    background-color: rgba(0, 72, 255, 0.798);
    border-radius: 30%;
    width: 5rem;
    
}
.btn-resultado{
    background-color: rgba(12, 224, 235, 0.944);
    width: 5rem;
    border-radius: 30%
    
}
.btn-delete{
    background-color: rgb(26, 227, 234);
    width: 5rem;
    border-radius: 30%
    
}
 @media (max-width: 468px){
    .conteiner{
        text-align: center;
        margin-top: 20px;
        background-color: rgba(66, 67, 70, 0.072);
        height: 35rem;
        width: 100%;
        border-radius: 8px;padding: 3rem;
        
        
        
    }
    .background{
        background-color: rgb(35, 32, 32);
        height: 6rem;
        margin-bottom: 10px;
    }
    .display2{
        
        border-style: none;
    }
    input{
        border-style: none;
        margin-bottom: 20px;
        background-color: rgb(35, 32, 32);
        color: white;

        width: 10rem;
        height: 2rem; 

        width: 15rem;
        height: 5rem; 

        border-radius: 8px;
        font-weight: 900;
        font-style: italic;
        font-size: xx-large;
    }
    .btn{
        margin: 3px;
        width: 4rem;
        height: 4.5rem;
        padding: 5px;
        background-color: rgba(152, 218, 246, 0.99);
        border-radius: 1000%;
        font-weight: 900;
        font-size: x-large;
        box-shadow: 4px -2px teal;
        
    
    }
    .displayDelete{
        background-color: rgba(0, 72, 255, 0.798);
        border-radius: 30%;
        width: 5rem;
        
    }
    .btn-resultado{
        background-color: rgba(12, 224, 235, 0.944);
        width: 5rem;
        border-radius: 30%
        
    }
    .btn-delete{
        background-color: rgb(26, 227, 234);
        width: 5rem;
        border-radius: 30%
        
    }
  }
