body {
  background-color: black;
  display: flex;
  justify-content: center;
  height: 150%;
}
.historial {
  background-color: rgb(2, 2, 2);
  height: 3rem;
  width: 10rem;
  margin-bottom: 10px;
  font-size: x-large;
}

button {
  color: blueviolet;
  border-radius: 5px;
  background-color: rgb(11, 141, 255);
  height: 3rem;
  width: 10rem;
}
video {
  position: relative;
  bottom: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
}

.conteiner {
  position: absolute;
  text-align: center;
  margin-top: 20px;
  width: 60%;
}
input {
  margin: 25px 0 25px 0;
  background-color: rgb(35, 32, 32);
  color: white;
  width: 25rem;
  height: 10rem;
  border-radius: 8px;
  font-weight: 900;
  font-style: italic;
  font-size: xx-large;
}
.boton {
  margin: 6px;
  width: 5.5rem;
  height: 5.5rem;
  padding: 5px;
  background-color: rgba(152, 218, 246, 0.99);
  border-radius: 1000%;
  font-weight: 900;
  font-size: x-large;
  box-shadow: 4px -2px teal;
}
.displayDelete {
  background-color: rgba(0, 72, 255, 0.798);
  border-radius: 30%;
  width: 8rem;
}
.boton-resultado {
  background-color: rgba(12, 224, 235, 0.944);
  width: 8rem;
  border-radius: 30%;
}
.boton-delete {
  background-color: rgb(26, 227, 234);
  width: 8rem;
  border-radius: 30%;
}
@media (max-width: 468px) {
  button {
    color: blueviolet;
    border-radius: 5px;
    background-color: rgb(11, 141, 255);
    height: 3rem;
    width: 7rem;
  }

  video {
    position: relative;
    /* bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto; */
     z-index: -1000; 
  /* overflow: hidden; */
  }

  .conteiner {
    position: absolute;
    text-align: center;
    margin-top: 10px;
    height: 90%;
    width: 100%;
    padding: 3rem;
    /* z-index: 100; */
  }

  .historial {
    background-color: rgb(2, 2, 2);
    /* padding: 2rem; */
    height: 5rem;
    width: 10rem;
    color: rgb(134, 5, 255);
    
  }
  input {
    margin: 25px 0 25px 0;
    background-color: rgb(35, 32, 32);
    color: white;
    width: 20rem;
    height: 6rem;
    border-radius: 8px;
    font-weight: 900;
    font-style: italic;
    font-size: xx-large;
  }
  .boton {
    margin: 6px;
    width: 3.5rem;
    height: 3.5rem;
    /* padding: 15px; */
    background-color: rgba(152, 218, 246, 0.99);
    border-radius: 1000%;
    font-weight: 900;
    font-size: x-large;
    box-shadow: 4px -2px teal;
  }
  .displayDelete {
    background-color: rgba(0, 72, 255, 0.798);
    border-radius: 30%;
    width: 6rem;
  }
  .boton-resultado {
    background-color: rgba(12, 224, 235, 0.944);
    width: 6rem;
    border-radius: 30%;
    /* font-size: xx-large; */
  }
  .boton-delete {
    background-color: rgb(26, 227, 234);
    width: 6rem;
    border-radius: 30%;
  }
}
